{% extends "layout.html" %}

{% block pokemones %}
{% if nombre %}
<div class="card" style="width:400px;">   
    <div class="card-body">
        <img class="rounded mx-auto d-block" src="{{ i }}" style="width: 100px; height: 100px; text-align: center;" alt="{{ estadoFoto }}">
        <h6 style="text-align: center;" class="card-title"><b>{{ nombre }}</b></h6>
        <p class="card-title"><b>Peso:</b> {{ p }}</p>
        <p class="card-title"><b>Habilidad:</b> {{ h }}</p>
        <p class="card-title"><b>Altura:</b> {{ a }}</p>
        <p class="card-text"><b>Tipo:</b> {{ t }}</p>
        <a href="{{url_for('index')}}" class="btn btn-primary btn-block">Volver al inicio</a>
    </div>
</div>
{% endif %}
{% endblock %}